.container {
    width: 400px;
    color: #eee1c5;
    display: inline-block;
    margin-left: -10px;
}

.header {
    font-weight: bold;
}

.items {
    font-size: 0.8em;
    height: 600px;
    background-color: #000000;
    white-space: nowrap;
    overflow-y: auto;
    padding: 5pt;
    border-radius: 5pt;
    border: 1px solid #caaf75;
}

::ng-deep .highlighted {
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}