.button-container {
    margin-bottom: 10pt;
}

.button {
    margin-right: 5pt;
}

.week-theme {
    color: #d8728f;
    font-weight: bold;
    margin-bottom: 10pt;
}

.alert {
    width: 75%;
    margin: auto auto 10px;
}