<div class="alert alert-info">
    For each slot in the Fashion Report that you would like to search, select the appropriate Slot Type, and then provide the hint.
    <br /><br />
    Results will be shown in the area below the corresponding hint. You can use the checkboxes to track the items you already own.
</div>

<div class="button-container">
    <input type="button" (click)="showLatestWeek()" class="btn btn-primary button" value="Show Latest Week" />
    <input type="button" (click)="showPreviousWeek()" class="btn btn-primary button" value="Show Previous Week" />
    <input type="button" (click)="showNextWeek()" class="btn btn-primary button" value="Show Next Week" />
    <input type="button" (click)="resetSlots()" class="btn btn-primary button" value="Reset Slots" />
</div>

<div class="week-theme">
    @if (latestReport) {
        {{ latestReport.theme }} (Week {{ latestReport.week }} for {{ latestReport.date }})
    } @else {
        Loading...
    }
</div>

<div class="nowrap">
    <app-hint-search-panel [slotNumber]="0"></app-hint-search-panel>
    <app-hint-search-panel [slotNumber]="1"></app-hint-search-panel>
    <app-hint-search-panel [slotNumber]="2"></app-hint-search-panel>
    <app-hint-search-panel [slotNumber]="3"></app-hint-search-panel>
    <app-hint-search-panel [slotNumber]="4"></app-hint-search-panel>
</div>