<div class="container">
    <div class="header">Report Results</div>

    <div class="items">
        @for (report of matchedReports; track report.week) {
            Week {{ report.week }} - {{ report.date }}
            <a title='View Report'><fa-icon [icon]="faMagnifyingGlass" class="load-report" (click)="loadReport(report.week)"></fa-icon></a>
            
            <br />

            <ul>
                @for (slot of report.slots; track slot.slotHint) {
                    <li>{{ slot.slotType }} - {{ slot.slotHint }}</li>

                    <ul>
                        @for (item of slot.items; track item) {
                            <li>
                                @if (item.highlighted) {
                                    <span class="highlighted">{{ item.name }}</span>
                                } @else {
                                    {{ item.name }}
                                }
                                <a href="{{ getSearchUri(item.name) }}" target='_blank' title='Search in Lodestone'><fa-icon [icon]="faMagnifyingGlass" class="search-lodestone"></fa-icon></a>
                            </li>
                        }
                    </ul>
                }
            </ul>
        } @empty {
            <div class="result-slot-title">No Results</div>
        }
    </div>
</div>