<div class="main-container">
    <div class="github">
        <img class="githubImage" src="./Octocat.png" alt="Github" />
        <a href="https://github.com/KevinAllenWiegand/ffxiv-fashion-report-v2" target="_blank">Find me on Github</a>
        <br />
        <a href="https://www.reddit.com/r/ffxiv/search?q=title%3A%22Fashion%20Report%22%20AND%20title%3A%22For%20Week%20Of%22&restrict_sr=1&t=month&sort=new" target="_blank">Reddit Fashion Report Results Search</a>
    </div>

    <h1>FFXIV Fashion Report Tools</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Hint Search</a></li>
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/itemsearch">Item Search</a></li>
        <li class="nav-item"><a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/myitems">My Items</a></li>
    </ul>

    <div class="content-container">
        <router-outlet />
    </div>

    <div class="footer">
        <hr />
        Copyright 2025, NinjaPuffer Enterprises
    </div>
</div>