.slot-type {
    display: inline;
    width: 75pt;
    appearance: menulist;
}

.slot-hint {
    display: inline;
    margin-left: 2pt;
    width: 165pt;
}

.hint-search-container {
    width: 250pt;
    display: inline-block;
    margin-right: 5pt;
}

.results {
    height: 600px;
    width: 250pt;
    background-color: #000000;
    color: #eee1c5;
    overflow-y: auto;
    margin: 5pt auto;
    padding: 5pt;
    border-radius: 5pt;
    border: 1px solid #caaf75;
}

.result-items ul {
    padding-left: 10pt;
    list-style-type: none;
    font-size: 0.8em;
}

.result-slot-title {
    padding-left: 8pt;
    font-size: 1em;
    font-weight: bold;
    color: #d8728f;
}

.item-checkbox {
    margin-right: 5px;
}

.search-lodestone {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.search-lodestone {
    padding-left: 5px;
}