<div class="hint-search-container">
    <select class="form-control form-control-sm slot-type" [(ngModel)]="slotType" (change)="slotTypeChanged()">
        @for (slotType of SlotTypes; track $index) {
            <option value="{{ slotType }}">{{ slotType }}</option>
        }
    </select>
    <input type="text" class="form-control form-control-sm slot-hint" placeholder="Hint" [(ngModel)]="hint" (keyup)="hintChanged()" />

    <div class="results">
        @if (matchedSlots) {
            @for (slot of matchedSlots; track slot.hint) {
                <div>
                    <div class="result-slot-title">
                        {{ slot.hint }}
                        
                        @if (slotType === 'All') {
                            &nbsp;({{ slot.type }})
                        }
                    </div>

                    <div class="result-items">
                        <ul>
                            @for (item of slot.items; track item.name) {
                                <li>
                                    <input type="checkbox" class="item-checkbox" (change)="itemSelectionChanged($event, item)" [checked]="isOwned(item.name)" />{{ item.name }}
                                    <a href="{{ getSearchUri(item.name) }}" target='_blank' title='Search in Lodestone'><fa-icon [icon]="faMagnifyingGlass" class="search-lodestone"></fa-icon></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            } @empty {
                <div class="result-slot-title">No Results</div>
            }
        } @else {
            <div class="result-slot-title">No Results</div>
        }
    </div>
</div>